/*******************************************************************
	Styles généraux
********************************************************************/
html, body { margin: 0; padding: 0; }

/*******************************************************************
	Styles de la Map
********************************************************************/
#map { width: 700px; height: 500px; margin: 10% auto; }