html, body { margin: 0; padding: 0; background: #000; background: url(img/bg.jpg); background-size: cover; }

@font-face {
	font-family: spetetrial;
	src: url('fonts/SPETETRIAL.otf');
}

header { position: absolute; width: 250px; height: 220px; }
header > div { background:url(img/logoe.png) no-repeat; width: 250px; height: 220px;}
header > h1  { position: absolute; width: 200px; text-align: center; color: #ab1414; font-size: 45px; font-weight:normal; font-family: spetetrial, Verdana; text-align: center; 
				top: 0px; left: 0px;
				-webkit-transform: rotate(333deg);
			    -moz-transform: rotate(325deg);
			    -o-transform: rotate(325deg);
			    transform:  rotate(325deg);
}


/******************/
/* Boutons SWITCH */
/******************/
.radioBtns{ position: absolute; left: 130px; top: 200px; z-index: 100; float:left;padding:4px 0px 5px 0; font-size:13px; font-family: spetetrial, Verdana; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;-o-border-radius:3px; }
.radioBtns input{display:none;display:inline-block\2;}
.radioKill label{padding:5px 15px; background: url(img/killers.jpg); opacity: 0.5;}
.radioVictims label{padding:5px 15px; background: url(img/victims.jpg); opacity: 0.5;}

/* Chrome hack for padding */
@media screen and (-webkit-min-device-pixel-ratio:0){.radioBtns label{padding:4px 15px 6px 15px;}}

.radioKill label:hover,.radioKill input[type="radio"]:checked+label{
  background: #ab8113 url(img/killers.jpg) no-repeat; width: 110px; height: 40px; opacity: 1; 
}

.radioVictims label:hover,.radioVictims input[type="radio"]:checked+label{
  background: #ac1315 url(img/victims.jpg) no-repeat; width: 110px; height: 40px; opacity: 1;
}
.radioBtns .radioKill label{border-radius:3px 0px 0 3px; height: 100px; -moz-border-radius:3px 0px 0 3px;-webkit-border-radius:3px 0px 0 3px;-khtml-border-radius:3px 0px 0 3px;-o-border-radius:3px 0px 0 3px;}
.radioBtns .radioVictims label{margin-left:-3px;border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;-khtml-border-radius:0 3px 3px 0;-o-border-radius:0 3px 3px 0;}
.radioBtns span:hover,.radioBtns label:hover{cursor:pointer}
.radioBtns .radioKill:hover label,.radioBtns .radioKill input[type="radio"]:checked+label{color:#fff}
.radioBtns .radioVictims:hover label,.radioBtns .radioVictims input[type="radio"]:checked+label{color:#fff}

/* IE FIX */
.radioBtns input{margin-top:-5px\9;}
.radioBtns label{background:none\9;padding-bottom:7px\9;padding-left:2px\9;margin-bottom:-5px\9;}

/**************************/
/* SECTION SERIAL KILLERS */
/**************************/
section { position: absolute; top: 10px; left: 400px; width: 400px; font-family: spetetrial, Verdana;}
section > div { background:url(img/bgstats.png) no-repeat; width: 300px; height: 200px;}
#totalSerial { color: #ab1414; position: absolute; top: 40px; left: 20px; font-size: 25px;}
#totalVictims { color: #ab1414; position: absolute; top: 80px; left: 20px; font-size: 25px;}

/**************/
/* PARTAGE RS */
/**************/
#facebook { position: absolute; top: 10px; left: 900px;}
#facebook:hover { background: url(img/fb_hover-onlick.png);}

#twitter { position: absolute; top: 80px; left: 900px;}
#twitter:hover { background: url(img/twitter_hover-onlick.png);}

/*#ecouteurs { float: right; margin-top: 200px; background: url(img/ecouteurs.png) no-repeat; width: 180px; height: 150px;}*/
#planche { position: absolute; background: url(img/planche.png) no-repeat; width: 1220px; height: 530px; z-index: 0;
            top: 150px; left: 50%; margin-left: -600px;}
#cafegrandmere { position: absolute; background: url(img/cafe.png) no-repeat; width: 200px; height: 200px; left: 60%; }


/*************/
/* WORLD MAP */
/*************/
#world-map { position: relative; top: 190px; margin: 0 auto; width: 900px; width: 900px; height: 442px; }
/*@media screen and (min-width: 1800px) { #world-map {width:1300px; height:750px;} }*/

  /*********************/
 /* Zone infos clique */
/*********************/
#info-area { width: 0px; position: absolute; top:10em; right: 20em; padding: 3em; background-color: white; border: 1px solid #333; z-index: 1000; display: none; }


/****************/
/* PIED DE PAGE */
/****************/
footer { font-family: verdana; color: #fff; position: fixed; bottom: 0; width: 100%; left: 0; opacity: 0.5;}
footer > p { position: relative; width: 900px; margin: 0 auto; text-align: center;}
footer > p > a { color: #fff;}